doctype html 
html 
    include ../components/head.pug
    body 
        nav 
            a(href="/log") Log-in 
            a(href="/sign") Sign-up 
        h1 Index 
        p about ourself and some info about the site, events, offers, and other news.