footer 
    details  
        summary Usefull Links 
        p 
            a(href="#") FaceBook
        p 
            a(href="#") Instragram
        p 
            a(href="#") Tok Tok
        p 
            a(href="#") Youtube
        p 
            a(href="#") Discord 
    details  
        summary Events $ Programs  
        p 
            a(href="#") Some event
        p 
            a(href="#") Some event
        p 
            a(href="#") Some event
        p 
            a(href="#") Some event
        p 
            a(href="#") Some event
    //- iframe(style="border: 2px solid #fff;border-radius: 1em;",src="#",border, frameborder="1")  

script(src="script.js") 
